
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <title>The Tech Blog</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h3 class="navbar-brand">The Tech Blog</h3>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">My Dashboard</a>
                </li>
                <li class="nav-item">
                                {{!-- If user is logged in, display the 'logout' button --}}
                {{#if logged_in}}
                    <button id="logout-btn" class="btn btn-sm btn-outline-secondary" type="button">Logout</button>
                {{!-- Else display the 'login' button --}}
                {{else}}
                    <a id="login-attr" class="login" href="/login">Login</a>
                {{/if}}
                </li>
            </ul>
        </div>
    </nav>

    {{!-- Show partials here --}}
    <div class="container container-fluid">
    {{{body}}}
    </div>
    
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>