<div class="container container-fluid">
    <form class="form create-form mt-5">
        <div class="form-group primary bg-primary">
            <span class="input-group-text">Title</span>
            <textarea id="create-title" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="form-group bg-primary">
            <span class="input-group-text">What's new technology would you like to blog about?</span>
            <textarea id="create-content" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit!</button>
    </form>
</div>

<script src="/js/createPost.js"></script>
