<form class="form create-form">
    <div class="form-group">
        <span class="input-group-text">Title</span>
        <textarea id="create-title" class="form-control" aria-label="With textarea">{{post.title}}</textarea>
    </div>
    <div class="form-group">
        <span class="input-group-text">What's new technology would you like to blog about?</span>
        <textarea id="create-content" class="form-control" aria-label="With textarea">{{post.content}}</textarea>
    </div>
    <button id="edit-btn" class="btn btn-primary">Edit Post</button>    
</form>