<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label id="email-val" for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label id="password-val" for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button id="login-btn" class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
    <h4>If you do not already have an existing account, click here to register one for free!</h4>
    <button id="signup-acct" class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</div>



<script src="/js/login.js"></script>

