<div class="container container-fluid text-center my-4" id="signup-container">
  <div class="row card mx-2">
    <div class="col-md-12 py-2 card-header">
      <h2 class="py-2">Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label id="email-val" for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label id="password-val" for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button id="login-btn" class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container container-fluid text-center my-3" id="signup-btn-container">
  <div class="row card mx-2">
    <div class="col-md-12 card-header">
      <p>If you do not already have an existing account, click here to register one for free!</p>
      <button id="signup-acct" class="btn btn-primary" type="submit">Sign Up</button>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>