<div class="container container-fluid">
  <div class="row my-4">
    <div class="col-md-12 text-center">
      <p class="display-4">We are excited to have you join The Tech Blog community! Please submit the form below to register an account.</p>
    </div>
  </div>
</div>

<div class="container container-fluid my-4" id="signup-container">
  <div class="row card">
    <div class="col-md-12 text-center py-4 card-header">
      <form class="form signup-form">
        <div class="form-group">
          <label for="username-signup">username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">   email:     </label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button id="signup-submit" class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>
