html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/tech-background-img.jpg');
    background-size: cover;
}

#post-container {
    /* background-color: lightblue; */
    min-height: 150px;
    max-width: 1000px;
}

.create-post {
    font-size: 32px;
}

#signup-container {
    /* background-color: lightblue; */
    max-height: 400px;
    width: 50%;
}

#signup-btn-container {
    max-height: 400px;
    width: 50%;
}

.reply-content {
    /* background-color: lightblue; */
    min-height: 150px;
}

.reply-text {
    border-bottom: 0.5px solid grey;
}

.current-posts {
    border-bottom: 0.5px solid grey;
    text-align: center;
}

.comment-link {
    font-size: 14px;
}

.user-comments {
    border-bottom: 0.5px solid grey;
}

.timestamp-info {
    font-size: 14px;
}